/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
 }

h1 {
  font-weight: normal;
  text-align: center;
  margin: 2em auto;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  gap: 1em;
}

 li {
  list-style: none;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(222, 138, 0);
 }

 li:hover {
  background-color:yellow;
 }

 p, a {
  text-align: center;
 }

 a {
  margin: auto;
  display: block;
  color: inherit;
  text-decoration: none;
 }

 form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 600px;
  margin: 5em auto;
 }

 input {
  padding: 1em;
 }
